@mixin flex($align: flex-start, $justify: flex-start){
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin grid($col){
    display: grid;
    grid-template-columns: repeat($col, 1fr);
}